@if(loggedUser)
{
    <div class="card text-center cardContainer">
        <div class="card-header">
          Chat
        </div>

        <div class="card-body">
          <div class="messagesContainer h-100" #messagesContainer>
            @for(oneMessage of messages; track oneMessage)
            {
                <div class="p-2" [ngClass]="(loggedUser.uid==oneMessage.user)? 'sent' : 'received'">
                    <header class="user">{{oneMessage.username}}</header>
                    {{oneMessage.userMessage}}
                </div>
            }
            </div>
        </div>

        <form class="card-footer text-muted input-group" (ngSubmit)="sendMessage()"> 
                <input type="text" class="form-control" placeholder="Ingrese su mensaje..." [(ngModel)]="newMessage" name="inputMessage">
                <div class="input-group-append" (click)="sendMessage()">
                  <span class="input-group-text" id="basic-addon2">
                    <img class="imgSendBtn" src="https://icons.veryicon.com/png/o/internet--web/iview-3-x-icons/ios-send.png" alt="sendMessage" height="25px">
                  </span>
                </div>
            </form>
      </div>
}