  <!--
  <div class="fullscreen-bg bg-light d-flex justify-content-center align-items-center">
    <div class="text-center text-black">
      <h1>Estas en el home</h1>
      @if(userService.cheakUserLogged())
      {
        <p>HOLAAAAAAAAAA</p>
      }
    </div>
  </div>
-->
<!--  <div class="text-center fullscreen-bg bg-light justify-content-center align-items-center">
    <div class="row">
      <div class="col">
        Ahorcado
      </div>
      <div class="col">
        Mayor o menor
      </div>
      <div class="col">
        Preguntados
      </div>
      <div class="col">
        Juego Propio
      </div>
    </div>
  </div>
-->  

<section class="container-fluid justify-content-center align-items-center">
  <div class="section first" (click)="onClick()">
    <div class="cont_title">
      <h1>Ahorcado</h1>
    </div>
    <div class="cont_desc">
      <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
    </div>
  </div>
  <div class="section">
    <div class="cont_title">
      <h1>Mayor o menor</h1>
    </div>
    <div class="cont_desc">
      <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
    </div>
  </div>
  <div class="section">
    <div class="cont_title">
      <h1>Preguntados</h1>
    </div>
    <div class="cont_desc">
      <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
    </div>
  </div>
  <div class="section">
    <div class="cont_title">
      <h1>Juego propio</h1>
    </div>
    <div class="cont_desc">
      <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
    </div>
  </div>
</section>

<app-chat> </app-chat>