<!--<div class="fullscreen-bg bg-light d-flex justify-content-center align-items-center">
    <div class="text-center text-black">
      <h1>Valentin Ferrero</h1>
      <p>Laboratorio IV</p>
    </div>
  </div>-->
<div class="fullscreen-bg bg-light d-flex justify-content-center align-items-center">
  <section id = "showcase">                                 
    <div class="container">
      <div class = "intro">
        <h1>Hola.</h1>
          <h4>Mi nombre es <span>Valentin Ferrero</span></h4>
            <p>Trabajo practico LABO IV</p>
        </div>
      <div class = "displaypicture">
        <!--<img src = "https://images.unsplash.com/photo-1615707649361-3adf03097478?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNjA2MDY1Mg&ixlib=rb-1.2.1&q=80&w=400">-->
        <img src = "https://lh3.googleusercontent.com/a/ACg8ocLULGZANOoA_X1vGVBwfgYfiexrjclEhhB5PDzcOM7GrIirCaCh=s288-c-no">
      </div>
    </div>
  </section>
</div>